{% block start_slider %}
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            {% for startSlider in startSliders %}
                <li class="text-center">
                    <img src="data:image/jpeg;base64,{{ startSlider.base64Image }}" alt="Embedded Image from Base64">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>you will love our <br> Fresh {{ startSlider.name }}</strong></h1>
                                <p class="m-b-40">{{ startSlider.bannerDescription }}</p>
                                <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
{% endblock %}

